body {
  background: lightgray;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.jamazonText {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.images {
  margin: auto;
  padding: 15px;
}

/* nullifies the "display: flex" CSS in bootstrap that stretches the images vertically */
.card {
  display: block;
  height: 420px;
}

.card-body {
  position: absolute;
  bottom: 0;
}

.col-md-3 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.lrg-card-div {
  background-color: white;
  height: 450px;
  margin-top: 50px;
  width: 1120px;
}

.large-card-image-container {
  height: 420px;
  float: left;
}

.large-card-image {
  width: 290px;
  top: 0;
  float: left;
  padding: 40px;
}

.lrg-card-text-container {
  padding: 20px;
  width: 1000px;
}

.btn {
  margin-left: 580px;
}

.cart-container {
  text-align: right;
  margin-right: 250px;
}
