body {
  background: lightgray;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

.header-text {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.images {
  margin: auto;
  padding: 15px;
}

.card {
  display: block;
  height: 420px;
}

.card-body {
  position: absolute;
  bottom: 0;
}

.col-md-3 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.lrg-card-div {
  background-color: white;
  height: 450px;
  margin-top: 50px;
  width: 1120px;
}

.large-card-image-container {
  height: 420px;
  float: left;
}

.large-card-image {
  width: 290px;
  top: 0;
  float: left;
  padding: 40px;
}

.lrg-card-text-container {
  padding: 20px;
  width: 1000px;
}

.btn {
  margin-left: 50px;
}

.cart-count-container {
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: 50px;
}

.cart-image {
  width: 150px;
  top: 0;
  float: left;
  margin: 20px;
}

.cart-text-image-container {
  height: 200px;
  background-color: white;
  padding-top: 40px;
  margin-bottom: 15px;
  box-sizing: content-box;
}

.cart-total-container {
  height: 100px;
  padding-top: 10px;
  margin-bottom: 15px;
  text-align: right;
}

.cart-count {
  font-size: 20px;
}

.pay-button {
  margin-top: 10px;
  color: white;
}

.alert-success {
  margin-top: 30px;
  color: black;
  background-color: lightgray;
  border-color: lightgray;
}
