body {
  background: lightgray;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

.cart-count-container {
  padding-top: 7px;
}

.header-text {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.images {
  margin: auto;
  padding: 15px;
}

.card {
  display: block;
  height: 340px;
  border-radius: 8px;
}

.card-body {
  padding-right: 3px;
}

.grid-card-divs {
  margin-bottom: 27px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.details-pg-container {
  align-content: center;
}

.lrg-card-div {
  background-color: white;
  height: 308px;
  margin-top: 50px;
  width: 70%;
  margin-left: 14%;
  border-radius: 8px;
}

.large-card-image-container {
  height: 308px;
  width: 33%;
  padding: 0;
  border-radius: 8px 0 0 8px;
}

.large-card-image {
  width: 250px;
  margin: 32px 0;
  padding-left: 25px;
  float: left;
  border-radius: 8px 0 0 8px;
}

.lrg-card-text-container {
  padding-top: 20px;
  width: 66%;
  line-height: 1.2;
  float: left;
  border-radius: 0 8px 8px 0;
}

.details-buttons-container {
  float: right;
}

.buttons {
  padding-top: 4px;
  font-size: 14px;
  margin: 0 2px 0 20px;
}

.cart-count {
  text-align: right;
  font-size: 20px;
  cursor: pointer;
}

.cart-image {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 1%;
  border-radius: 8px 0 0 8px;
}

.cart-text-image-container {
  height: 100px;
  width: 89%;
  background-color: white;
  display: inline-block;
  border-radius: 0 8px 8px 0;
  margin-bottom: 1%;
}

.cart-item-product {
  float: left;
  margin: 10px 0 0 10px;
}

.cart-item-price {
  float: right;
  margin: 10px 10px 0 0;
}

.cart-total-container {
  height: 90px;
  padding-top: 10px;
  text-align: right;
}

.form-labels {
  margin-left: 17%;
}

.pay-button {
  margin-left: 92%;
  width: 75px;
}

.pay-button-alert {
  margin-top: 30px;
  color: black;
  background-color: lightgray;
  border-color: lightgray;
  text-align: right;
  margin-right: 1%;
  padding: 0;
}
